.big{display: flex;
    justify-content: space-around;
    margin-top: 200px;
    
}
.z{
    background-color: cornflowerblue;
    width: 200px;
    height: 150px;
    text-align: center;
    color: cornsilk;
    font-size: 2em;
    padding-top: 60px;
}
.day {
}
.hours {
}
.minit {
  
}
.second {
}